{% extends "base.html.twig" %}

{% block body %}
<h1>Inscription</h1>
{{form_start(form)}}
{{form_row(form.firstName, {'label': "Prénom"})}}
{{form_row(form.lastName, {'label': "Nom"})}}
{{form_row(form.phone, {'label': "Numéro de téléphone"})}}
{{form_row(form.email, {'label': "Email"})}}
{{form_row(form.password, {'label': "Mot de passe"})}}
{{form_row(form.confirm_password, {'label': "Confirmation du mot de passe"})}}
{{form_row(form.admin, {'label': "Administrateur"})}}




<button type="submit">Inscription</button>
{{form_end(form)}}

{% endblock %}